.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #243242;
    color: #fff;
  }
  
  .header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .company-info {
    display: flex;
    align-items: center;
  }
  
  .company-info img {
    width: 40px; /* Tamaño del nuevo icono de empresa */
    height: 40px; /* Tamaño del nuevo icono de empresa */
    margin-right: 10px;
  }
  
  .company-name {
    font-size: 24px;
  }
  
  .nav {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to right, #2c3e50, #2c3e50 15%, transparent 15%);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 15px;
  }
  
  a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #6490af;
  }
  
  .logout-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }
  