<!-- container -->
<div class="container">
  <!-- form -->
  <form id="form" (ngSubmit)="register()" #registerForm="ngForm">
    <!-- form heading -->
    <h3>Registro</h3>
    <!-- form inputs -->
    <fieldset>
      <label for="name">Tu nombre:</label>
      <input type="text" id="name" name="username" [(ngModel)]="username" tabindex="1" required />
    </fieldset>
    <fieldset>
      <label for="email">Dirección de correo electrónico:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required />
    </fieldset>
    <fieldset>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required />
    </fieldset>
    <fieldset>
      <button type="submit" id="submit" [disabled]="!registerForm.valid">Registrarse</button>
    </fieldset>
    <!-- attribution -->
    <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
  </form>
</div>
